<div class="animated swing">
<p class="animated slideInLeft">
  List of All the Available Lawyers
</p>
</div>
<div class="container">
<table>
  <tr>
    <th>name</th>
    <th>phone</th>
    <th>type</th>
    <th>slotdate</th>
    <th>slottime</th>
  </tr>
  <tr *ngFor = "let lawyer of lawyers">
    <td>{{lawyer.name}}</td>
    <td>{{lawyer.phone}}</td>
    <td>{{lawyer.type}}</td>
    <td>{{lawyer.slotdate}}</td>
    <td>{{lawyer.slottime}}</td>
    <input type="button" value="Delete?" class="btn animated jello" (click) = "deletelawyer(lawyer._id)">
  </tr>
</table>
</div>
